body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #0a0f2c, #00bcd4);
  color: #fff;
  margin: 0;
}

h1, h3 {
  color: #00ffe7;
}

button {
  background: #00bcd4;
  border: none;
  padding: 12px 24px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

button:hover {
  background: #008c9e;
}